/*=====================================================================================================================================*/
/* Home.js */
/*----------*/

.home-scrollbtn-div {
    z-index: 110;
    position: relative;
   display: flex;
   justify-content: center;

    cursor: pointer;
    /* background-attachment:none; */

}

/*=====================================================================================================================================*/

/* Header.js */
/*-----------*/

/* header div component */
.header-maindivcomponent {
    display: inline-flex;
    justify-content: baseline;
    width: 92%;
    margin-inline-start: 4%;
    margin-inline-end: 1%;
    padding-block: 0.6%;
    align-items: center;
}

.header-img {
    border-radius: 50%;
}

.header-logotxt {
    font-size: x-large;
    margin-inline: 1%;
    font-weight: bolder;
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-inline-start: auto;
    margin-inline-end: 2%;
    width: 60%;
}

.header-contact-content {
    display: flex;
    justify-content: center;
    margin-inline-start: 28.8%;
    width: 100%;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f6;
    color: #030404;
    border-radius: 60px;
    width: 25px;
    height: 25px;
    margin-inline-start: 7%;
    margin-inline-end: 2%;

}

/* header app bar component */
.header-appbar-maindiv {
    display: inline-flex;
    justify-content: left;
    padding-inline: 4%;
    padding-block: 1.5%;
    align-items: center;
}

.header-appbar-btn {
    margin-inline-end: 2%;
    align-items: center;
}




/* for button hover component */
.dropbtn {

    color: rgb(30, 21, 21);
    /* padding: 1px 2px ; */
    font-size: 14px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    background: none;
    font-family: Poppins;
    position: relative;
    font-weight: -500;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

}


.dropbtn-arrow {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-block-start: 0.5%;     */
    font-size: 18px;
}

.dropselect {

    color: #ffffff;
    /* padding: 1px 2px ; */
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: none;
    font-family: Poppins, sans-serif;
    font: size 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 2ch;
    /* border-radius: 15%; */
}

.dropdown-content {
    display: none;
    border-radius: 5%;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(117, 95, 95, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #212D3A;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: underline 5px;
    text-transform: uppercase;
    color: #7a7773;
}

/*--------------------------------------------------------*/

/*=====================================================================================================================================*/

/* Contact.js */
/*-------------*/

.contact {

    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: #feffff;
    margin: 0%;

}

.contact-box {
    padding: 20px;
    margin: 10px;
    width: 700px;
    border-radius: 20px;
    color: black;
    background-color: #ffffff;
    /* display: flex; */

}

.contact-textfield {
    /* margin-right: 15%; */
    margin-top: 2%;
}

.textfieldmsg {
    margin-top: 2%;
}

.divtext {
    font-size: medium;
    font-weight: 300;
    font-family: cursive;
}

.divtextmsg {
    font-size: medium;
    font-weight: 300;
    font-family: cursive;
}

.btngrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {

    /* margin-block-start: 3px; */
    padding-top: 1.5%;
    width: 10ch;
    height: 4ch;
    text-align: center;
    border-color: rgb(35, 32, 32);
    border-width: 1px;
    background-color: #f1f2f6;
    border-radius: 5%;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    /* text-transform: capitalize; */
}

.btngrid div:hover .btn {
    text-transform: capitalize;
    background-color: black;
    color: #feffff;
    opacity: 1px;
    cursor: pointer;
    transform: rotate3d();
}



.headinggrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingstyle {
    font-weight: bolder;
    font-size: x-large;
    font-family: poppins;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: azure;
    margin-inline-end: 3%;
}

;






/*===================================================================================================================================*/

/*  ContactButton */

.cbtn-maincontainer {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;

}

.cbtn-box {
    background-image: url(/public/assets/contactbtn1.jpg);
    /* background-color: #000; */
    width: 100%;
    height: auto;
    color: #f1f2f6;
    background-repeat: repeat;
    background-position: center center !important;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;


}

.cbtn-boxscnd {
    background: #212d3a;
    opacity: 0.7;
    position: relative;
}

/* .cbtn-boxscnd div{
    opacity: 0.7;
} */



.cbtn-boxthrd {

    padding-inline: 8%;
    padding-block: 8%;

    position: relative;
    width: 60%;
    height: auto;
    /* align-items: center; */
    text-align: center;
    margin-inline-start: 12%;
    color: #feffff;

}

.cbtn-headingdiv {
    font-weight: 600;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline 2px;
    /* color: whitesmoke; */

}

.cbtn-headingdiv-scnd {
    font-weight: 600;
    font-size: 36px;
    font-family: serif;
    /* text-decoration: underline 2px; */
    color: rgb(254, 255, 255);
    margin-block: 2%;
}

.cbtn-headingdiv-thrd {
    font-weight: 500;
    font-size: 14px;
    font-family: Poppins;
    /* text-decoration: underline 2px; */
    /* color:#ffffff; */
}

.cbtn-buttoncomponent {
    display: flex;
    justify-content: center;
    margin-top: 8%;

}

.cbtn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212d3a;
    padding-block-start: 0.1%;
    width: 20ch;
    height: 6ch;
    text-align: center;
    background-color: #ffffff;
    opacity: 3px;
    border-radius: 5%;
    cursor: pointer;
    border: solid 4px #030404;
}


.cbtn-btntext {
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16x;
}

.cbtn-buttoncomponent span:hover .cbtn-btn {
    background: black;
    color: whitesmoke;
    border-color: #f1f2f6;
    border-width: 2px;
}


/*===============================================================================================================================*/

/* Highlight1 css */

.highlight-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-inline: 5%;
    width: 90%;
    background: #ffffff;
    margin-block: 0%;


}

.highlight-box {
    justify-content: center;
    align-items: center;
    /* background: #b8bcc0; */
    padding: 2%;
    /* align-items: center; */
    border-radius: 1%;
    /* width: auto; */

}


.highlight-mainheading {
    /* display: flex; */
    margin-block-end: 3%;
    font-size: x-large;
    font-weight: bolder;
    font-family: Poppins, sans-serif;

}

.highlight-heading {

    margin-inline-start: 30%;
    margin-block: 2%;
    font-size: large;
    font-weight: bold;
    font-family: Nunito;
    letter-spacing: 1px;

}

.highlight-scndquote {
    width: 20px;
    margin-inline-start: 86%;
    margin-block-start: 2%;
    opacity: 0.5;
}

/*========================================================================================================================================*/

/* Footer.js */
/*------------*/

/*------------------------------------------------------------------*/

/* for maincotainer and div content */
.footer-maincontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    /* flex-wrap: wrap; */
}

.footer-box {
    /* display: flex; */
    width: 100%;
    background-color: #212D3A;
    color: aliceblue;
    /* height:max-content; */
    /* height: auto; */
}

.footer-rowstyle {
    display: flex;
    padding: 2% 3% 2% 5%;
    flex-direction: row;

}


@media only screen and  (max-width:600px)  {
    .footer-rowstyle{
        display: flex;
        flex-direction:column;   
        /* width: 100%;  */
        justify-content: left;
        align-items: center;
        padding: 2%;
    } 
}

/* 
.columnstyle{
    
    display: flex;
    flex-direction: column;
    padding: 2% 3% 2% 5%;

} */

.gridstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f1f2f6;
    font-size: large;
    text-decoration: underline wavy 1px #d2dae2;
    padding: 5px;
    
}

@media only screen and  (max-width:600px)  {
    .gridstyle{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        color: #6abc83;
        font-size: larger;
        text-decoration: underline solid 2px #c0e5fd;
        padding-block: 15px; 
        margin-inline-start: 0%;

    }
    
}

/* .footer-grid{
    
} */

/*----------------------------------------*/

/* for logo and firm name customizetion */

.logotextcontainer {
    display: flex;
    align-items: center;
    margin-top: 8%;
    flex-direction: column;
}

@media only screen and  (max-width:600px)  {
    .logotextcontainer{
        display: flex;
        /* align-items: center; */
        margin-top: 8%;
        flex-direction: row;
        justify-content: space-around;
        
    }
    
}

.logotext {
    /* margin-left: 10%; */
    padding-block-start: 5%;
    color: #f1f2f6;
    font-size: xx-large;
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and  (max-width:600px) 

{    .logotext {

        /* margin-left: 10%; */
        padding-inline-start: 6%;
        color: #f1f2f6;
        font-size:larger;
        font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    } 
}

.footer-img{
    background-color: rgb(255, 255, 255);
     width: 100px ;
     border-radius: 50%;
    
}

@media only screen and (max-width:600px) {
    .footer-img{
        background-color: rgb(255, 255, 255);
         width: 70px;
         border-radius: 40%;
    }  }


/*------------------------*/

/* Contact */
.contactcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8%;
    flex-direction: column;
}

.address {
    margin-left: 0%;
    color: #f2f3f4;
    font-size: medium;
    font-family: 'Nunito', ;

}

.contactdetails {
    display: block;
    margin-left: 5%;
    color: #f2f3f4;
    font-size: medium;
    font-family: 'Nunito', ;
    padding-top: 3%;

}


/*----------------------*/

/* Quick Links */
.linkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}

.link {
    padding: 3%;
    cursor: pointer;
    font-family: 'Nunito', ;
}

.link:hover{
    /* text-transform: lowercase; */
    text-decoration: underline ;
}

/*---------------------------------*/

/* for lower grid & icons managing */

.gridbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    padding-inline-start: auto;
}

.icon {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.divstyle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
    margin: 5px;
    padding-inline-start: 8%;
}





/*========================================================================================================================================*/

/*  Scroll Button.js    */
/*-----------------------*/



.scrollbtn-scnddiv {
    /* display:inline-flexbox; */
    text-align: center;
    width: 30px;
    height: 30px;
    background: #a94949;
    border-radius: 50%;
    /* position: fixed; */
    background-attachment: fixed;
    z-index:15;
    margin-block-start: 10%;
    /* margin-block-end: 20%; */
    margin-inline-start: 90%;

}

.scrollbtn-icon {
    font-size: 20px;
}

